In [2]:
import pandas as pd
df=pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

In [3]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [12]:
df.shape[0]

4622

In [13]:
df.shape[1]

5

In [8]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [17]:
c=df.groupby('item_name').sum()

In [24]:
c.sort_values('quantity',ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [32]:
c1=df.groupby(['choice_description']).sum()
(c1.sort_values('quantity',ascending=False).head(1))

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [46]:
df['quantity'].sum()

4972

In [50]:
df['item_price'].dtype

dtype('float64')

In [51]:
df['revenue']=(df['quantity']*df['item_price']).sum()

39237.02

In [53]:
df.order_id.value_counts().count()

1834

In [58]:
df['revenue']=(df['quantity']*df['item_price'])
df.groupby('order_id').sum().mean()[2]

21.394231188658654

In [67]:
#df.item_name.unique()
df.item_name.value_counts().count()

50

In [69]:
users.head()

NameError: name 'users' is not defined

In [73]:
s1= {1, 2, 3}

In [74]:
s1.issubset(s1)

True

In [77]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [80]:
 t = (1, 2, 4, 3)
t[3]=45 #(tuples immutable-proved)

TypeError: 'tuple' object does not support item assignment

In [1]:
count=5
print (count)

5

In [85]:
a = [1,2,3,4,5]
b = [6,7,8,9]
a.extend(b)

In [86]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
import urllib3
requests.get("www.abcd.org")

NameError: name 'requests' is not defined

In [2]:
urllib3.urlopen("www.abcd.org")

NameError: name 'urllib3' is not defined